# Clinical Variables

In [1]:
import numpy as np
import pandas as pd

In [2]:
true_index = np.load('./../../data_source/patient_id.npy')
true_index[:5]

array([ 2,  4,  5,  8, 10])

In [3]:
#hpv = clinical.loc[:, 'HPV-status']
#sum(hpv == 2), sum(hpv == 2) / hpv.size * 100

In [4]:
# HPV:
# 0: negative
# 1: positive
# 2: unknown

# ICD10: Contains tumor location in description. 

raw_clinical = pd.read_excel(
    './../../data_source/clinical/clinical_params.xlsx', 
    index_col=0, header=0
)
raw_clinical.head()

,Alder,Kjønn,ICD10 kort,T-klassifisering,N-klassifisering,Stadium,Histologi,HPV-status,ECOG,Charlson,Pakkeår,Naxogin dager,Cisplatin
Pasient-ID,,,,,,,,,,,,,
1,57.854795,M,C01,4,2,4a,1.0,2,1,0,32.141096,29.0,0
2,60.832877,M,C09,2,2,4a,0.0,2,0,0,0.000000,39.0,6
3,75.663014,M,C32,2,0,2,1.0,2,0,0,55.663014,41.0,0
4,49.906849,K,C09,2,2,4a,0.0,2,0,0,4.786027,33.0,5
5,54.238356,K,C09,2,0,2,0.0,0,0,0,0.000000,42.0,0

In [5]:
raw_clinical.shape

(254, 13)

In [6]:
clinical = raw_clinical.loc[true_index, :]

In [7]:
clinical.shape

(198, 13)

In [8]:
list(clinical.columns)

['Alder',
 'Kjønn',
 'ICD10 kort',
 'T-klassifisering',
 'N-klassifisering',
 'Stadium',
 'Histologi',
 'HPV-status',
 'ECOG',
 'Charlson',
 'Pakkeår',
 'Naxogin dager',
 'Cisplatin']

In [9]:
for col in clinical.columns:
    try:
        print(col, np.bincount(clinical.loc[:, col]))
    except:
        pass

Alder [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  2  0  1  4  3
  3  4  6  4  8 12  8  2  3 10 11 13 11  8  8  9 10  6 12 10  8  5  4  1
  3  1  2  1  1  1  1  1]
T-klassifisering [ 0 18 78 46 56]
N-klassifisering [ 47  23 121   7]
Histologi [138  50   9   1]
HPV-status [18 83 97]
ECOG [128  65   5]
Charlson [130  45  15   4   3   1]
Pakkeår [46  1  2  0  2  1  4  2  2  5  3  0  2  3  3  3  5  2  3  2  6  1  7  3
  5  2  1  2  3  3  6  2  3  2  4  3  3  3  1  2  1  3  0  1  4  3  2  0
  0  1  3  0  0  3  0  0  1  1  1  1  1  1  2  2  1  1  0  0  1  0  1  1
  1  0  2  0  1  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  2  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  1]
Naxogin dager [10  0  0  0  0  1  0  0  3  1  2  0  1  2  3  4  4  1  1  1  2  2  2  4
  2  2  1  1  6  3  2  1  1  5  4  6  2  2 11 18 15 39 17 11  4  1]
Cisplatin [44  4  5 10 24 82 29]

In [10]:
np.bincount(clinical.loc[:, 'T-klassifisering']), np.unique(clinical.loc[:, 'T-klassifisering'])

(array([ 0, 18, 78, 46, 56]), array([1, 2, 3, 4]))

In [11]:
c = []
for val in clinical['Stadium']:
    if val not in c:
        c.append(val)
        
c

['4a', 2, 3, '4b', '4c', 1, 4, 0, '4a?']

In [12]:
n = clinical.shape[0]

In [13]:
(sum(clinical['N-klassifisering'] == 0) + sum(clinical['N-klassifisering'] == 1)) / n * 100

35.35353535353536

In [14]:
100 - 35.35

64.65

In [15]:
clinical.index.name = 'patient'
clinical.columns = [
    'Age', 'Sex', 
    'ICD-10', 
    'T Stage', 'N Stage', 'Stage', 
    'Histology', 'HPV', 
    'ECOG', 'Charlson', 
    'Years Smoking', 
    'Naxogin Days', 'Cisplatin'
]
clinical.head()

,Age,Sex,ICD-10,T Stage,N Stage,Stage,Histology,HPV,ECOG,Charlson,Years Smoking,Naxogin Days,Cisplatin
patient,,,,,,,,,,,,,
2,60.832877,M,C09,2,2,4a,0.0,2,0,0,0.000000,39.0,6
4,49.906849,K,C09,2,2,4a,0.0,2,0,0,4.786027,33.0,5
5,54.238356,K,C09,2,0,2,0.0,0,0,0,0.000000,42.0,0
8,54.687671,M,C01,3,2,4a,2.0,2,0,0,18.343836,0.0,3
10,61.728767,M,C01,3,2,4a,0.0,2,0,0,0.000000,35.0,6

In [16]:
clinical.groupby('ICD-10')['ICD-10'].count()

ICD-10
C01    34
C02     8
C03     1
C04     3
C05     4
C06     1
C09    74
C10    36
C12     6
C13    10
C32    21
Name: ICD-10, dtype: int64

In [17]:
clinical.groupby('HPV')['HPV'].count()

HPV
0    18
1    83
2    97
Name: HPV, dtype: int64

In [18]:
clinical.groupby('Histology')['Histology'].count()

Histology
0.0    138
1.0     50
2.0      9
3.0      1
Name: Histology, dtype: int64

In [19]:
print(clinical.groupby('N Stage')['N Stage'].count()) 
print(clinical.groupby('T Stage')['T Stage'].count())
print(clinical.groupby('Stage')['Stage'].count())

N Stage
0     47
1     23
2    121
3      7
Name: N Stage, dtype: int64
T Stage
1    18
2    78
3    46
4    56
Name: T Stage, dtype: int64
Stage
0        1
1        2
2       17
3       39
4        1
4a     127
4a?      1
4b       8
4c       2
Name: Stage, dtype: int64

In [16]:
# NOTE: Stage feature req extra attention.
to_encode = [
    'Sex', 
    'ICD-10', 
    'T Stage', 
    'N Stage', 
    'Histology', 
    'HPV', 
    'ECOG', 
    #'Charlson', 
    'Cisplatin'
]

for num, var_to_encode in enumerate(to_encode):
    dummy_var = pd.get_dummies(clinical[var_to_encode], drop_first=True)
    dummy_var.columns = [
        '{}_{}'.format(var_to_encode, column) for column in dummy_var.columns
    ]
    clinical[dummy_var.columns] = dummy_var

In [17]:
clinical.columns

Index(['Age', 'Sex', 'ICD-10', 'T Stage', 'N Stage', 'Stage', 'Histology',
       'HPV', 'ECOG', 'Charlson', 'Years Smoking', 'Naxogin Days', 'Cisplatin',
       'Sex_M', 'ICD-10_C02', 'ICD-10_C03', 'ICD-10_C04', 'ICD-10_C05',
       'ICD-10_C06', 'ICD-10_C09', 'ICD-10_C10', 'ICD-10_C12', 'ICD-10_C13',
       'ICD-10_C32', 'T Stage_2', 'T Stage_3', 'T Stage_4', 'N Stage_1',
       'N Stage_2', 'N Stage_3', 'Histology_1.0', 'Histology_2.0',
       'Histology_3.0', 'HPV_1', 'HPV_2', 'ECOG_1', 'ECOG_2', 'Cisplatin_1',
       'Cisplatin_2', 'Cisplatin_3', 'Cisplatin_4', 'Cisplatin_5',
       'Cisplatin_6'],
      dtype='object')

In [18]:
clinical.head()

,Age,Sex,ICD-10,T Stage,N Stage,Stage,Histology,HPV,ECOG,Charlson,...,HPV_1,HPV_2,ECOG_1,ECOG_2,Cisplatin_1,Cisplatin_2,Cisplatin_3,Cisplatin_4,Cisplatin_5,Cisplatin_6
patient,,,,,,,,,,,,,,,,,,,,,
2,60.832877,M,C09,2,2,4a,0.0,2,0,0,...,0,1,0,0,0,0,0,0,0,1
4,49.906849,K,C09,2,2,4a,0.0,2,0,0,...,0,1,0,0,0,0,0,0,1,0
5,54.238356,K,C09,2,0,2,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,54.687671,M,C01,3,2,4a,2.0,2,0,0,...,0,1,0,0,0,0,1,0,0,0
10,61.728767,M,C01,3,2,4a,0.0,2,0,0,...,0,1,0,0,0,0,0,0,0,1

In [19]:
# Drop already encdoded features
clinical.drop(to_encode, axis=1, inplace=True)
clinical.head()

,Age,Stage,Charlson,Years Smoking,Naxogin Days,Sex_M,ICD-10_C02,ICD-10_C03,ICD-10_C04,ICD-10_C05,...,HPV_1,HPV_2,ECOG_1,ECOG_2,Cisplatin_1,Cisplatin_2,Cisplatin_3,Cisplatin_4,Cisplatin_5,Cisplatin_6
patient,,,,,,,,,,,,,,,,,,,,,
2,60.832877,4a,0,0.000000,39.0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,49.906849,4a,0,4.786027,33.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
5,54.238356,2,0,0.000000,42.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,54.687671,4a,0,18.343836,0.0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
10,61.728767,4a,0,0.000000,35.0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [20]:
clinical.Stage.replace(['4a', '4b', '4c', '4a?'], 4, inplace=True)
stadium_enc = pd.get_dummies(clinical.loc[:, 'Stage'], drop_first=True)
for col in stadium_enc:
    clinical['Stage {}'.format(col)] = stadium_enc[col]

clinical.head()

,Age,Stage,Charlson,Years Smoking,Naxogin Days,Sex_M,ICD-10_C02,ICD-10_C03,ICD-10_C04,ICD-10_C05,...,Cisplatin_1,Cisplatin_2,Cisplatin_3,Cisplatin_4,Cisplatin_5,Cisplatin_6,Stage 1,Stage 2,Stage 3,Stage 4
patient,,,,,,,,,,,,,,,,,,,,,
2,60.832877,4,0,0.000000,39.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,49.906849,4,0,4.786027,33.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
5,54.238356,2,0,0.000000,42.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,54.687671,4,0,18.343836,0.0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
10,61.728767,4,0,0.000000,35.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [21]:
clinical.drop('Stage', axis=1, inplace=True)
clinical.head()

,Age,Charlson,Years Smoking,Naxogin Days,Sex_M,ICD-10_C02,ICD-10_C03,ICD-10_C04,ICD-10_C05,ICD-10_C06,...,Cisplatin_1,Cisplatin_2,Cisplatin_3,Cisplatin_4,Cisplatin_5,Cisplatin_6,Stage 1,Stage 2,Stage 3,Stage 4
patient,,,,,,,,,,,,,,,,,,,,,
2,60.832877,0,0.000000,39.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,49.906849,0,4.786027,33.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
5,54.238356,0,0.000000,42.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,54.687671,0,18.343836,0.0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
10,61.728767,0,0.000000,35.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [22]:
clinical.shape

(198, 38)

In [29]:
clinical.to_csv('./../../data_source/to_analysis/clinical_params.csv')

In [32]:
X = pd.read_csv(
    #'./../../data_source/to_analysis/compressed_features/all_features_orig_images_icc_dropped.csv',
    #'./../../data_source/to_analysis/removed_broken_slices/all_features_removed_broken_slices.csv',
    './../../data_source/to_analysis/original_images/all_features_original_images.csv',
    index_col=0
)
X.shape

(198, 513)

In [33]:
clinical.loc[X.index, :].to_csv(
    #'./../../data_source/to_analysis/removed_broken_slices/clinical.csv'
    './../../data_source/to_analysis/original_images/clinical.csv'
)